#nav-sm {
    display: none;
}

#tracks-box {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background-color: #DCA480;
    border-radius: 1rem;
    width: 80%;
}

#faq {
    width: 100%;
    margin-top: 4rem;
    width: 100%;
    padding: 2rem 6rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width: 768px) { 
    #nav-lg {
        display: none !important;
    }
    #nav-sm {
        display: flex;
    }
    #about {
        flex-direction: column;
        padding: 3rem 2rem 2rem 2rem !important;
        box-sizing: border-box;
    }
    #about > img {
        height: auto !important;
        width: 80%;
        box-sizing: border-box;
        margin: 0 2rem;
        margin-top: 2rem;
    }
    #about p {
        max-width: none !important;
    }

    #tracks-box {
        display: flex;
        flex-direction: column;
        padding-bottom: 0 !important;
    }
    .trackbox {
        padding: 2% !important;
    }
 }