#nav-sm {
    display: none;
}

#tracks-box {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background-color: #DCA480;
    border-radius: 1rem;
    width: 80%;
}

#faq {
    position: relative;
    margin-top: 4rem;
    width: 100%;
    margin-bottom: 4rem;
    /* padding: 2rem 6rem; */
    /* box-sizing: border-box; */

    /* display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); */
}
span {
    color: #543E2E;
}

#sponsors-box {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #FDF4EF;
    border-radius: 1rem;
    width: 80%;
}

@media (max-width: 768px) { 

    /* Navbar */
    #nav-lg {
        display: none !important;
    }
    #nav-sm {
        display: flex;
    }

    /* About */
    #about {
        flex-direction: column;
        padding: 3rem 2rem 2rem 2rem !important;
        box-sizing: border-box;
    }
    #about > img {
        height: auto !important;
        width: 80%;
        box-sizing: border-box;
        margin: 0 2rem;
        margin-top: 2rem;
    }
    #about p {
        max-width: none !important;
    }

    /* Tracks */
    #tracks-box {
        display: flex;
        flex-direction: column;
        padding-bottom: 0 !important;
    }
    .trackbox {
        padding: 2% !important;
    }

    /* FAQ area */
    #faq-pointers {
        position: static !important;
    }
    #faq-bkg {
        position: absolute;
        top: -8%;
        left: -5%;
        height: 120% !important; 
        width: 110% !important;
    }
    #faq-tape img {
        width: 50vw !important;
        margin: 0 !important;
    }
    #faq-tape span {
        font-size: 1.5rem !important;
    }
    #faq-pointers {
        flex-direction: column;
        align-items: center;
    }
    .faq-pointer {
        width: 90% !important;
        padding: 0.25rem 0.5rem;
    }
    .faq-pointer img{
        width: 100% !important;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .faq-pointer span{
        font-size: 1.2rem !important;
        position: static !important;
        z-index: 1;
    }
 }