.hidden {
    display: none !important;
}

.as-div {
    background-color: transparent;
    border: transparent;
}

/* TOP IMAGE */

#nav-sm {
    display: none;
}

#wh-text {
    color: #E2A165;
    display: block;
    text-shadow: -0.22vw 0.085vw #704735;
    line-height: 3.7vw;
    letter-spacing: 0.1vw;
}
#remix-text {
    color: white !important;
    font-size: 2.75vw;
    display: block;
    text-shadow: -0.13vw 0.05vw #6F7477;
    letter-spacing: 0.01vw;
    margin-top: 0.66vw;
}

.bb-glow {
    transition: color 0.4s ease, text-shadow 0.4s ease;

}
#blackboard:hover .bb-glow {
    color: #eadb70 !important;
    text-shadow: 0 0 2vw #ede5a8;
    transition-delay: 2s;
}
#music-sign{
    position: absolute;
    top: 4.4vw;
    left: 6.7vw;
    width: 15.34vw;
    height: 5vw;
    text-align: center;
    color: white;
    /* transition: transform 0.4s ease; */
    transform-origin: center 1.5vw;
}
#music-sign.rotatable:hover {
    transform: rotateZ(30deg);
}

#girl-head {
    transform-origin: bottom center;
}
#girl-head.bop {
    animation: Bop 1.5s infinite;
}

@keyframes Bop {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


#content span {
    color: #543E2E;
}

.stickynote {
    perspective: 1000px;
    background-color: transparent;
}

/* MINESWEEPER  */
#ms-container {
    background: linear-gradient(rgb(232, 144, 158), rgb(157, 157, 243));
    min-height: 100%;
}
#ms-grid {
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    max-width: 80%;
    max-height: 80%;
    aspect-ratio: 1 / 1;
    grid-gap: 1%;
    padding: 1.5%;
    border-radius: 1.5%;
    box-sizing: border-box;
    background-color: #be8140;
    justify-self: end;
}
.ms-block {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.ms-block.unflipped {
    background: radial-gradient(#9b6733, #7b5128);
}
.ms-block.flipped {
    background: #5b3a1a;
}
.ms-flag, .ms-bomb {
    width: 80%;
    height: 80%;
}

/* TRACKS */

#tracks-box {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background-color: #DCA480;
    border-radius: 1rem;
    width: 80%;
}


.trackbox-flipback {
    animation: cardFlipBack 1s ease-in-out;
    animation-fill-mode: forwards;
}

.trackbox {
    position: relative;
    width: 70%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.trackbox.hover {
    animation: cardFlip 1s ease-in-out;
    animation-fill-mode: forwards;
}

.track-front, .track-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.track-front {
    transform: rotateX(0deg);
}

.track-back {
    transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: rotateY(180deg) translateZ(1px);
}

@keyframes cardFlip{
    0% {
        transform: scale(100%);
        -webkit-transform: scale(1, 1);
    }
    25% {
        transform: scale(105%);
        -webkit-transform: scale(1.05, 1.05);
    }
    25% {
        transform: scale(105%) rotateY(0deg);
        -webkit-transform: scale(1.05, 1.05) rotateY(0deg);
    }
    75% {
        transform: scale(105%) rotateY(180deg);
        -webkit-transform: scale(1.05, 1.05) rotateY(180deg);
    }
    75% {
        transform: scale(105%) rotateY(180deg);
        -webkit-transform: scale(1.05, 1.05) rotateY(180deg);
    }
    100% {
        transform: scale(100%) rotateY(180deg);
        -webkit-transform: scale(1, 1) rotateY(180deg);
    }
}
@keyframes cardFlipBack{
    0% {
        transform: scale(100%) rotateY(180deg);
        -webkit-transform: scale(1, 1) rotateY(180deg);
    }
    25% {
        transform: scale(105%) rotateY(180deg);
        -webkit-transform: scale(1.05, 1.05) rotateY(180deg);
    }
    25% {
        transform: scale(105%) rotateY(180deg);
        -webkit-transform: scale(1.05, 1.05) rotateY(180deg);
    }
    75% {
        transform: scale(105%) rotateY(0deg);
        -webkit-transform: scale(1.05, 1.05) rotateY(0deg);
    }
    75% {
        transform: scale(105%);
        -webkit-transform: scale(1.05, 1.05);
    }
    100% {
        transform: scale(100%);
        -webkit-transform: scale(1, 1);
    }
}

/* FAQ */

#faq {
    position: relative;
    margin-top: 4rem;
    width: 100%;
    margin-bottom: 4rem;

    border: transparent;
    background-color: transparent;
}

.faq-noshow {
    animation: faq-disappear 0.25s linear;
    animation-fill-mode: forwards;
}
.faq-reshow {
    animation: faq-reappear 0.25s linear;
    animation-fill-mode: forwards;
}
.faq-desc-text {
    font-size: max(1.5vw, 20px);
    margin: 0;
}
.faq-desc-text * {
    margin: 0;
}
.faq-desc {
    margin-top: -2vw;
}

.main-moveback {
    animation: moveBack 1s linear;
    animation-fill-mode: forwards;
}
.main-faq {
    animation: moveToTop 1s linear 0.5s;
    animation-fill-mode: forwards;
}

@keyframes moveToTop {
    0% { opacity: 1; }
    25%, 75% {
        opacity: 0;

    }
    75% {
        top: calc(8vw + 2rem);
        opacity: 0;
    }
    100% {
        top: calc(8vw + 2rem);
        opacity: 1;
     }
}
@keyframes moveBack {
    0% {
        left: 50%;
        transform: translateX(-50%);
        top: calc(8vw + 2rem);
        opacity: 1;
    }
    25% {
        left: 50%;
        transform: translateX(-50%);
        top: calc(8vw + 2rem);
        opacity: 0;
    }
    75% {
        left: auto;
        top: auto;
        transform: none;
        opacity: 0;
    }
    75% {
        opacity: 0;

    }
    100% { opacity: 1; }
}


@keyframes faq-disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    100% {
        left: 200%;
    }
}

@keyframes faq-reappear {
    0% {
        left: 200%;
        opacity: 0;
    }
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }


}

/* CALENDAR */
#calendar {
    width: 75vw;
    row-gap: 1em;
    column-gap: 1em;
    background-color: #9e7249;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
    
}
#calendar > * {
    background-color: #E2A165;
    min-height: 4rem;
    border-radius: 0.5rem;
}
#calendar > *:not(.event-desc-low) {
    display: grid;
    place-items: center;
}
.calendar-head {
    font-size: 1.2rem;
}
.event-time, .event-day {
    font-size: 1.1rem;
    padding: 0;
}
.event-day {
    font-family: PoppinsBold !important;
}
.event-name {
    flex-grow: 1;
    text-align: center;
}
.day-arrow-r, .day-arrow-l {
    position: absolute;
    font-size: 2rem;
    cursor: default;
}
.day-arrow-r { right: 0.6rem; }
.day-arrow-l { left: 0.6rem; }

.calendar-syrup {
    position: absolute;
    width: 100%;
    height: 100%;
}

.event-desc-btn{
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #4f3b28;
    right: 0;
    bottom: 0;
    transform: translateX(50%) translateY(50%);
}
.event-desc-low {
    display: none;
    font-size: 0.9rem;
    padding: 0.5rem;
    text-align: left;
    grid-column: span 3 / span 3;
    justify-content: center;
    margin: 0;
}


/* SPONSORS */

#sponsors-box {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #FDF4EF;
    border-radius: 1rem;
    width: 80%;
}
#sponsor-imgs {
    margin-bottom: 4rem;
    margin-top: 4rem;
}
#sponsor-imgs img {
    max-width: 80vw;
    margin: 1.5rem;
}
#sponsor-imgs img.vip {
    max-height: 5.5rem;
}
#sponsor-imgs img.headliner{
    max-height: 4.5rem;
}
#sponsor-imgs img.opener {
    max-height: 3.5rem;
}
#sponsor-msg {
    font-size: 1.5rem;
    font-weight: bold;
}
#sponsors-plant {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translateX(-55%) translateY(-80%);
    width: 10rem;
}

/* APPLY */

#apply {
    height: 45vw;
    width: 100vw;
    position: relative;
    margin-Top: -3rem;
}

#left-bookcase, #right-bookcase {
    position: absolute;
    bottom: 0;
    height: 60%;
}
#left-bookcase {
    position: absolute;
    bottom: 0;
    /* left: -10px; */
    left: -2.7vw;
    height: 60%;
}
#right-bookcase {
    position: absolute;
    bottom: 0;
    right: -2.7vw;
    height: 60%;transform: scaleX(-1);
}
#right-bookcase.active {
    transition: right 0.5s 0.5s linear;
}
#hidden-waffle {
    transition: opacity 0.3s linear;
}

#hanging-sign {
    position: absolute;
    top: 20%;
    right: 25%;
    height: 40%;
}
#apply-today {
    position: absolute;
    top: 30%;
    left: 18%;
    height: 40%;
    font-size: 8vw;
    text-align: left;
    font-weight: bolder;
    color: #543E2E;
}

#apply-btn {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
}

#complete-modal {
    opacity: 0;
    position: fixed;
    display: grid;
    place-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(80, 60, 26, 0.8);
    z-index: 100;
    transition: opacity 0.3s linear;
    -webkit-transform: translateZ(-1000px);
    -webkit-perspective-origin: 100% 100% none;

    -webkit-transform: perspective(500px);
    -webkit-transform-style: preserve-3d;
}
#complete-sparks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.round-waffle {
    display: inline-block;
    margin: 0 !important;
    background-image: url("/hiddenwaffle.svg");
    background-size: 100% 100%;
    border-radius: 100%;
    height: 100px;
    margin: 50px auto;
    position: relative;
    width: 100px;
    -webkit-transition: 2s linear;
    -webkit-transform-style: preserve-3d;
    animation: 3s linear infinite Rotate;
}
.round-waffle:after {
    background-color: #a37131;
    border-radius: 100%;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
    transform: scaleZ(2);
    -webkit-transform: translateZ(-2.5px) rotateY(-2.5deg);
    transform: translateZ(-2.5px) rotateY(-2.5deg);
}
.round-waffle:before {
    background-color: #a37131;
    background-image: url("/hiddenwaffle.svg");
    background-size: 100% 100%;
    border-radius: 100%;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
    -webkit-transform: translateZ(-5px);
    transform: translateZ((-5px));
}
.round-waffle span {
    background-color: #a37131;
    border-radius: 100%;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
    transform: scaleZ(2);
    -webkit-transform: translateZ(-2.5px) rotateY(2.5deg);
    transform: translateZ(-2.5px) rotateY(2.5deg);
}


@keyframes Rotate {
    0% {
        transform: translateZ(50px) rotateY(0deg);
    }
    50% {
        transform: translateZ(50px) rotateY(180deg);
    }
    100% {
        transform: translateZ(50px) rotateY(360deg);
    }
}

@media (max-width: 768px) {

    /* Navbar */
    #nav-lg {
        display: none !important;
    }
    #nav-sm {
        display: flex;
    }

    /* About */
    #about {
        flex-direction: column;
        padding: 3rem 2rem 2rem 2rem !important;
        box-sizing: border-box;
    }
    #about > img {
        height: auto !important;
        width: 80%;
        box-sizing: border-box;
        margin: 0 2rem;
        margin-top: 2rem;
    }
    #about p {
        max-width: none !important;
    }
    #about-graphic {
        height: auto !important;
        max-width: 100%;
    }

    /* Tracks */
    #tracks-box {
        display: flex;
        flex-direction: column;
        padding-bottom: 0 !important;
    }
    .trackbox {
        padding: 2% !important;
    }

    /* FAQ area */
    #faq-pointers {
        position: static !important;
    }
    #faq-bkg {
        position: absolute;
        top: -8%;
        left: 50%;
        transform: translateX(-50%);
        height: 120% !important;
        /* width: 110% !important; */
        width: 200% !important;

    }
    #faq-tape img {
        width: 50vw !important;
        margin: 0 !important;
    }
    #faq-tape span {
        font-size: 1.5rem !important;
    }
    #faq-pointers {
        flex-direction: column;
        align-items: center;
    }
    .faq-pointer {
        width: 90% !important;
        padding: 0.5rem 0.5rem;
        margin-bottom: 16px !important;
    }
    .faq-pointer.main-faq {
        margin-top: 3rem !important;
        transition: margin 0.5s 0.8s ease;
    }
    .faq-pointer img{
        width: 100% !important;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        padding: 0;
    }
    .faq-pointer span:not(.faq-back){
        font-size: 1.2rem !important;
        position: static !important;
        z-index: 1;
    }
    .faq-back {
        position: absolute !important;
        left: 0 !important;
        bottom: calc(100% + 0.5rem) !important;
        width: 100% !important;
    }

    /* Calendar */
    .calendar-head.head-day {
        display: none !important;
    }
    .calendar-head.head-event {
        grid-column: span 2 / span 2;
    }
    .day-choose {
        grid-column: span 3 / span 3;
        grid-row-start: -1;
    }
    .day-blank {
        display: none !important;
    }
    .event-name {
        grid-column: span 2 / span 2;
    }
    .calendar-filler:nth-child(2n){
        display: none !important;
    }
    /* .event-desc {
        display: none;
    }
    .event-desc-low {
        display: flex;
        flex-direction: column;
    } */

    /* Sponsors area */
    #sponsor-imgs {
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 0 0.5rem;
        box-sizing: border-box;
    }
    #sponsor-imgs img {
        max-width: 80vw;
        margin: 1rem 0;
        align-self: center;
    }
    #sponsor-imgs img.vip {
        max-height: 5.5rem;
        width: 100%;
    }
    #sponsor-imgs img.headliner{
        max-height: 4.5rem;
        width: 80%;
    }
    #sponsor-imgs img.opener {
        max-height: 3.5rem;
        width: 75%;
    }
    #sponsor-msg {
        font-size: 1rem;
    }
    #sponsors-plant {
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translateX(-55%) translateY(-80%);
        width: 6rem;
    }

    /* Apply */
    #apply {
        height: 75vh;
        width: 100vw;
        position: relative;
        margin-Top: -3rem;
    }

    #left-bookcase {
        left: -20px;
        height: 40%;
    }

    #right-bookcase {
        right: -20px;
        height: 40%;
    }

    #hanging-sign {
        top: 55%;
        right: 50%;
        height: 35%;
        transform: translateX(50%);
    }

    #apply-today {
        top: 13%;
        left: 50%;
        height: 40%;
        font-size: 16vw;
        text-align: center;
        transform: translateX(-50%);

    }

    #apply-btn {
        position: absolute;
        bottom: 42%;
        left: 50%;
        transform: translateX(-50%);
    }

 }